name: Deploy to VPS

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-22.04

    steps:
      - name: Deploy to Ubuntu Server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |

            APP_DIR="/var/www/avnerglobal"

            cd $APP_DIR || exit

            echo "Fetching latest code..."
            git fetch origin
            git reset --hard origin/master

            echo "Installing dependencies..."
            npm install

            echo "Building project..."
            npm run build

            echo "Restarting PM2..."
            pm2 restart avnerglobal --update-env

            echo "Deployment completed successfully!"
